
<div class = "title">
	<h1> Error Log </h1>
	<%= link_to 'Statistic', error_logs_statistic_path %>
</div>
<table class="table table-striped">
	<tr>
		<th>Card ID</th>
		<th>Error Occured Time</th>
		<th>Error Message</th>
	</tr>

<% @error_logs.each do |log| %>
	<tr>
		<td><%= log.cardID %></td>
		<td><%= log.errorOccurTime %></td>
		<td><%= log.errorMessage %></td>
	</tr>
<% end %>
</table>

<br />
