
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"> <%= link_to 'Transit Log', trans_logs_path %> </li>
		<li> <%= link_to 'Transfer Log', transfer_logs_path %> </li>
		<li> <%= link_to 'Error Log', error_logs_path %></li>
	</ul>
</div>
